@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}
body{
background-image: url("img.png");	
}
#home{
	border: 1px solid;
	background-color : blue;
	margin: 30px;
	padding: 20px;
	border: 1px groove;
}
#login{
	/*background-color: blue;*/
    padding: 20px;
	border: 1px groove;
	width : 300px;
	margin : auto;
    margin-top: 50px;
	text-shadow: 1px 1px black;
}
#login ul li{
	list-style-type: none;
	line-height: 60px;
	border: 1px groove;
}
a{
    color : black;
}
a:hover{
	
	color:blue;
}
