<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MailCastServer</display-name>
	<servlet>
		<description>
		</description>
		<display-name>SignUp</display-name>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>
		SignUp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEmp</display-name>
		<servlet-name>AddEmp</servlet-name>
		<servlet-class>
		AddEmp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>verifyID</display-name>
		<servlet-name>verifyID</servlet-name>
		<servlet-class>
		verifyID</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Forgot</display-name>
		<servlet-name>Forgot</servlet-name>
		<servlet-class>
		Forgot</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ComposeMail</display-name>
		<servlet-name>ComposeMail</servlet-name>
		<servlet-class>
		ComposeMail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Block</display-name>
		<servlet-name>Block</servlet-name>
		<servlet-class>
		Block</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Unblock</display-name>
		<servlet-name>Unblock</servlet-name>
		<servlet-class>
		Unblock</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Update</display-name>
		<servlet-name>Update</servlet-name>
		<servlet-class>
		Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateVerify</display-name>
		<servlet-name>UpdateVerify</servlet-name>
		<servlet-class>
		UpdateVerify</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewDetails</display-name>
		<servlet-name>ViewDetails</servlet-name>
		<servlet-class>
		ViewDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StatusDetails</display-name>
		<servlet-name>StatusDetails</servlet-name>
		<servlet-class>
		StatusDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>fullDetails</display-name>
		<servlet-name>fullDetails</servlet-name>
		<servlet-class>
		fullDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>fullStatusDetails</display-name>
		<servlet-name>fullStatusDetails</servlet-name>
		<servlet-class>
		fullStatusDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateEmpDetails</display-name>
		<servlet-name>UpdateEmpDetails</servlet-name>
		<servlet-class>
		UpdateEmpDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Delete</display-name>
		<servlet-name>Delete</servlet-name>
		<servlet-class>
		Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEmp</servlet-name>
		<url-pattern>/AddEmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>verifyID</servlet-name>
		<url-pattern>/verifyID</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forgot</servlet-name>
		<url-pattern>/Forgot</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComposeMail</servlet-name>
		<url-pattern>/ComposeMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Block</servlet-name>
		<url-pattern>/Block</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Unblock</servlet-name>
		<url-pattern>/Unblock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateVerify</servlet-name>
		<url-pattern>/UpdateVerify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewDetails</servlet-name>
		<url-pattern>/ViewDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatusDetails</servlet-name>
		<url-pattern>/StatusDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fullDetails</servlet-name>
		<url-pattern>/fullDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fullStatusDetails</servlet-name>
		<url-pattern>/fullStatusDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEmpDetails</servlet-name>
		<url-pattern>/UpdateEmpDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
